body{
	margin: 0px;
}

.background{
	width: 100%;
	/*height: 100%;*/ /* removing this allows the background to increase more than the initial screen height */
	z-index: -10;
	position: absolute;
}

.content{
	background-color: #ffffff;
	min-height: 600px; /* this allows the content wrapper to increase in size if the contents exceed 600px */
	margin-top: 70px;
}

.tittle, .endTitle{
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	font-size: 50px;
	color: #ff00cc;
	margin-top: 20px;
}

.timer{
	padding-top: 10px;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	color: #06D206;
	text-decoration: bold;
}

.Question1, .Question2, .Question3, .Question4{
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}

.Question{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	color: #ff00cc;

}

.startButton, .endButton{
	padding: 20px;
	border: 1px solid #ff00cc;
	width: 200px;
	margin: auto;
	text-align: center;
}

.startButton{
	margin-top: 200px;
}
.endButton{
	margin-top: 20px;
}


.startButton:hover{
	background-color: #06D206;
	color: #ffffff;
	border : #06D206;
}

.endButton:hover{
	background-color: #06D206;
	color: #ffffff;
	border : #06D206;
}

.correctAnswers, .wrongAnswers, .unAnswered{
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	padding: 20px;
}









